*/Makefile
*/Makeport
*/cmplc++
*/complice
*/config
*/kern.o
*/lelisp
*/lelisp31bin
*/lelisp31bin.o
*/lelispbin
*/llcore/*.core
*/o/*.o
llib/startup.ll
Makefile
common/config.h
config.log
config.status
